.pagination {
  display: inline-block;
  justify-content: center;
  
  .unclickable {
    pointer-events: none;
    color: lightgray
  }

  .active {
    background-color: #383838;
  }

  a {
    border-radius: 5px;
    padding: 8px 10px;
  }  

  .ellipsis  {
    pointer-events: none;
  }
  
  a, span{
    color: black;
    float: left;
    text-decoration: none;
  }
  a:hover:not(.active) {
    color: white;
    background-color: #555555;
  }
}
