.MuiModal-root{
    margin: 100px;
    .MuiBox-root{
        background-color: gray;
        overflow-y: hidden;
    }
}

.episodes{
    overflow-y: auto;
    max-height: 400px;
    height: 100%;
    list-style-type: none;
    margin-bottom: 0;
    li {
        padding-right: 10px;
    }
}