.home{

    min-height: 685px;
    background-color: rgb(103, 103, 103);

    .wrapper{
        padding: 10px;

        .grid{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

        .empty{
            display: flex;
            justify-content: center;
            font-size: 50px;
            height: auto;
        }
    }
    
}