.home{
    .wrapper{
        padding: 50px 10px;
        background-color: lightgrey;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .character-wrapper{
            background-color: black;
            margin: 10px;
        }
    }
}