.navbar-nav{
    hr {
        color: white;
        width: 100%;
    }
    .wrapper{
        .up{
            padding: 10px 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-image: linear-gradient(to top, #000000, #3d3d3d, #242424, #000000);
            .left{
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to right top, #e5ff00, #2eb12e, #4b8515, #b7d62b, #00ff4c);
                border-radius: 20px;

                a{
                    text-decoration:none;
                    color: white;
                    font-size: 30px;
                    padding: 10px;
                }
            }

            .right{
                display: flex;
                align-items: center;
            }
        }
        .down {
            padding: 10px 30px;
            background-image: linear-gradient(to top, #000000, #3d3d3d, #242424, #888888);
            color: rgb(245, 245, 245);
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }
}