.character {
    .wrapper {
        height: 1000px;
        padding: 30px;
        background-color: lightgrey;
        display: flex;
        justify-content: space-around;
        .character-image {
          width: 100%;
        }

        .character-info {
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
              }
              
              tr:nth-child(even) {
                background-color: #dddddd;
              }
        }
        
    }
}