.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
        .wrapper{
        
        display: flex;
        padding: 10px 10px;
        background-image: linear-gradient(to top, #000000, #3d3d3d, #242424, #000000);
        color: darkgray;
        text-align: center;
        p {
            font-size: 20px;
        }
        a{
            color: white;
            text-decoration: none;
        }
        .right{
            border-left: 1px solid white;
        }
        .left, .right{
            padding-left: 5px;
            width: 50%;
        }
    }
}